<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Created by Rod Angle.  Using data from mapbox.com and WeatherStack.com</p>
        <img class="portrait" src="/img/personalImage.jpg">
    </div>
    
    {{>footer}}
</body>

</html>